@use './sass/normalize';
@use './sass/mixins';
@use './sass/media';
@use './sass/fonts';

body {
	font-family: 'Roboto Slab';
}

.field {
	&__img {
		@include mixins.sizes(100%, 100vh);
		border-radius: 10px;

		&_hide {
			display: none;
		}
	}

	&__portrait-image {
		display: none;
		@include mixins.sizes(100vw, 100vh);
		object-fit: cover;

		&_show {
			display: block;
			z-index: 10;
			position: relative;
		}
	}

	&__ball {
		position: absolute;
		@include mixins.sizes(70px, 70px);
		transition: all 0.6s ease-in;
		cursor: pointer;
		user-select: none;
		-webkit-tap-highlight-color: transparent;

		@include media.tabletWidth {
			@include mixins.sizes(53px, 55px);
		}

		@include media.tabletHeight {
			@include mixins.sizes(53px, 55px);
		}
	}

	&__restart-btn {
		@include mixins.posAbsoluteLeftTop(50%, 75px);
		transform: translate(-50%, -2px);
		@include mixins.sizes(125px, 30px);
		padding: 3px;
		font-size: 17px;
		z-index: 1;
		border: 2px solid black;
		border-radius: 10px;
		background: linear-gradient(348deg, #3a3a3a 0%, #f7f7d9 50%, #3a3a3a 100%);
		cursor: pointer;
		letter-spacing: 1px;
		user-select: none;
		transition: all 0.5s ease;
		box-shadow: 2px 4px 0px 0px #000;

		@include media.tabletWidth {
			@include mixins.sizes(110px, 26px);
			font-size: 15px;
		}

		@include media.tabletHeight {
			@include mixins.sizes(110px, 26px);
			font-size: 15px;
		}

		@include mixins.hoverOrActive {
			border: 2px solid black;
			box-shadow: none;
			transform: translate(-50%, 2px);
		}
	}
}

.players-score {
	@include mixins.posAbsoluteLeftTop(50%, 15px);
	display: flex;
	justify-content: space-between;
	transform: translateX(-50%);
	@include mixins.sizes(300px, 50px);

	@include media.tabletWidth {
		width: 240px;
	}

	@include media.tabletHeight {
		width: 240px;
	}

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		@include mixins.sizes(52px, 48px);
		border: 3px solid #ffc800;

		@include media.tabletWidth {
			@include mixins.sizes(45px, 40px)
		}

		@include media.tabletHeight {
			@include mixins.sizes(45px, 40px);
		}
	}

	&__title {
		font-size: 42px;
		color: #e4ff00;
		user-select: none;

		@include media.tabletWidth {
			font-size: 35px;
		}

		@include media.tabletHeight {
			font-size: 35px;
		}
	}
}

.fullscreen-toggle {
	@include mixins.posAbsoluteLeftTop(50%, 20px);
	transform: translateX(-50%);
	border: none;
	background-color: unset;
	cursor: pointer;
	user-select: none;
	transition: all 0.5s;

	@include mixins.hoverOrActive {
		filter: grayscale(1)
	}
}

.field-orientation__message {
	@include mixins.posAbsoluteLeftTop(50%, 50%);
	display: none;
	padding: 10px;
	transform: translate(-50%, -50%);
	min-width: 90%;
	font-size: clamp(28px, 8vw, 42px);
	line-height: 1.25;
	text-align: center;
	background: #000000b8;
	border-radius: 20px;
	color: #ffffff;
	user-select: none;

	&_show {
		display: block;
		z-index: 11;
	}
}