@import './sass/normalize';
@import './sass/mixins';
@import './sass/adaptive';
@import './sass/fonts';

body {
	font-family: 'Roboto Slab';
}

.field {
	&__img {
		@include sizes(100%, 100vh);
		border-radius: 10px;

		&_hide {
			display: none;
		}
	}

	&__portrait-image {
		display: none;
		@include sizes(100vw, 100vh);
		object-fit: cover;

		&_show {
			display: block;
			z-index: 10;
			position: relative;
		}
	}

	&__ball {
		position: absolute;
		@include sizes(70px, 70px);
		transition: all 0.6s ease-in;
		cursor: pointer;
		user-select: none;
		-webkit-tap-highlight-color: transparent;

		@include tabletWidth {
			@include sizes(53px, 55px);
		}

		@include tabletHeight {
			@include sizes(53px, 55px);
		}
	}

	&__restart-btn {
		position: absolute;
		left: 50%;
		top: 75px;
		transform: translate(-50%, -2px);
		@include sizes(125px, 30px);
		padding: 3px;
		font-size: 17px;
		z-index: 1;
		border: 2px solid black;
		border-radius: 10px;
		background: linear-gradient(348deg, #3a3a3a 0%, #f7f7d9 50%, #3a3a3a 100%);
		cursor: pointer;
		letter-spacing: 1px;
		user-select: none;
		transition: all 0.5s ease;
		box-shadow: 2px 4px 0px 0px #000;

		@include tabletWidth {
			@include sizes(110px, 26px);
			font-size: 15px;
		}

		@include tabletHeight {
			@include sizes(110px, 26px);
			font-size: 15px;
		}

		@include hoverOrActive {
			border: 2px solid black;
			box-shadow: none;
			transform: translate(-50%, 2px);
		}
	}
}

.players-score {
	position: absolute;
	left: 50%;
	top: 15px;
	display: flex;
	justify-content: space-between;
	transform: translateX(-50%);
	@include sizes(300px, 50px);

	@include tabletWidth {
		width: 240px;
	}

	@include tabletHeight {
		width: 240px;
	}

	&__inner {
		display: flex;
		border: 3px solid #ffc800;
		justify-content: center;
		align-items: center;

		@include tabletWidth {
			@include sizes(45px, 40px)
		}

		@include tabletHeight {
			@include sizes(45px, 40px);
		}
	}

	&__title {
		font-size: 45px;
		color: #e4ff00;
		user-select: none;

		@include tabletWidth {
			font-style: 36px;
		}

		@include tabletHeight {
			font-size: 36px;
		}
	}
}

.fullscreen-toggle {
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	cursor: pointer;
	user-select: none;
	transition: 0.3s;

	@include tabletWidth {
		@include sizes(35px, 35px);

		@include hoverOrActive {
			@include sizes(34px, 34px);
		}
	}

	@include tabletHeight {
		@include sizes(35px, 35px);

		@include hoverOrActive {
			@include sizes(34px, 34px);
		}
	}

	@include hoverOrActive {
		@include sizes(39px, 39px);
	}
}


.field-orientation__message {
	position: absolute;
	padding: 10px;
	font-size: clamp(33px, 8vw, 48px);
	text-align: center;
	color: #fbff00;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 90%;

	&_show {
		display: block;
		z-index: 11;
	}
}